doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 项目列表
  body
    each item,index in list
      h2= index + ' :'
      ul
        each val in item
          li
            code
              a(href=val.routePath)= val.routePath 
              | &nbsp;&nbsp;#{ val.projectConfig.title }
